.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

#tsparticles canvas {
    position: absolute;
    top: 0;
    left: 0;
}